.TicketPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100vh;
  background-color: #eaeaea;
}
.TicketPage-title {
  font-size: 16px;
  color: #1b6563;
  font-family: "Vazirmatn Regular";
}
.TicketPage-downloadLink {
  background-color: #1b6563;
  width: 280px;
  height: 32px;
  border-radius: 24px;
  color: white;
  font-size: 12px;
  font-family: "Vazirmatn Regular";
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 3px 12px #888;
}
.TicketPage-link {
    font-size: 12px;
  color: #1b6563;
  font-family: "Vazirmatn Regular";
}
