.KiwiContainer {
  background-image: linear-Gradient(#eaeaea, #efdccb);
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.FooterSection {
  background-color: #1b6563;
  border-radius: 60px 60px 0 0;
  overflow-x: hidden;
}
.CourseFeaturesSection {
  background-color: #1b6563;
  overflow-x: hidden;
}
